#cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    gap: 10px;
    margin: auto;
    border: 0px solid red;
}
.item{
    width: 90%;
    border-radius: 10px;
    text-align: center;
    border: 0px solid rgb(172, 191, 192);
    background-color: rgb(158, 181, 184);
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px

    
}
.item>button{
    background-color:rgb(50, 82, 170);
    color: white;
    margin-bottom: 50px;
    
}
.img{
    width: 100%;
    height: 60%;
    
}
#cart_total{
    background-color:rgb(20, 66, 62);
    width: 250px;
    color: white;
    text-align: center;
}
#checkout{
    background-color:rgb(23, 80, 238);
    width: 200px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
    
}
@media (max-width:590px){
    #cart{
        display: grid;
        grid-template-columns:40% 40%;
        width: 90%;
        gap: 5px;
       
    }
    .item{
        width: 90%;
        border-radius: 5px;
        text-align: center;
       font-size:large;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .item>button{
        background-color:rgb(50, 82, 170);
        color: white;
        margin-bottom: 50px;
        
    }
    .img{
        width: 100%;
        height: 60%;
        
    }
    #cart_total{
        background-color:rgb(20, 66, 62);
        width: 20%;
        color: white;
        text-align: center;
    }
    #checkout{
        background-color:rgb(23, 80, 238);
        width: 30%;
       
       
    }


    }
    
   
    
